<mat-card-content>
  <mat-card-title>Zresetuj hasło</mat-card-title>
  <form autocomplete="off" [formGroup]="resetForm" (ngSubmit)="submitReset()">
    <mat-form-field>
      <mat-label>Login/E-mail:</mat-label>
      <input
        id="email"
        type="text"
        formControlName="email"
        placeholder="Wpisz login..."
        matInput
        #email
      />
      <button
        *ngIf="email.value.trim()"
        (click)="clearLogin()"
        type="button"
        mat-icon-button
        matSuffix
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button
      class="submit"
      type="submit"
      color="primary"
      [disabled]="!resetForm.valid"
      mat-raised-button
    >
      Zresetuj
    </button>
  </form>
</mat-card-content>
