:host {
  display: block;
}

mat-card-content {
  width: 450px;
  margin: 0 auto;

  & mat-card-title {
    text-align: center;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 95px;

  & .submit {
    margin-top: 50px;
  }
}