<form
  autocomplete="off"
  [formGroup]="registerForm"
  (ngSubmit)="submitRegistration()"
>
  <mat-form-field>
    <mat-label>Login/E-mail:</mat-label>
    <input
      id="email"
      type="text"
      formControlName="email"
      placeholder="Wpisz email..."
      matInput
      #email
    />
    <button
      *ngIf="email.value.trim()"
      (click)="clearLogin()"
      type="button"
      mat-icon-button
      matSuffix
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Hasło:</mat-label>
    <input
      id="password"
      type="text"
      formControlName="password"
      placeholder="Wpisz hasło..."
      matInput
      #password
    />
    <button
      *ngIf="password.value.trim()"
      type="button"
      mat-icon-button
      matSuffix
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint align="end"> trudność hasła </mat-hint>
  </mat-form-field>
  <span
    matTooltip="Hasło powinno się składać z conajmniej 8 znaków, i zawierać duże i małe litery oraz cyfry."
    class="password-info"
    *ngIf="
      registerForm.get('password')?.invalid &&
      registerForm.get('password')?.touched
    "
  >
    <mat-icon>info_outline</mat-icon></span
  >
  <mat-form-field>
    <mat-label>Powtórz hasło:</mat-label>
    <input
      id="confirmPassword"
      type="text"
      formControlName="confirmPassword"
      placeholder="Wpisz hasło..."
      matInput
      #passwordRepeat
    />
    <button
      *ngIf="passwordRepeat.value.trim()"
      type="button"
      mat-icon-button
      matSuffix
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint
      class="passwordMismatch"
      *ngIf="
        registerForm.hasError('passwordMismatch') &&
        registerForm.get('confirmPassword')?.touched
      "
      align="end"
    >
      Hasła nie są takie same
    </mat-hint>
  </mat-form-field>
  <button
    class="submit"
    type="submit"
    color="primary"
    [disabled]="!registerForm.valid"
    mat-raised-button
  >
    Zarejestruj
  </button>
</form>
